Repository firebase/firebase-admin-python, pull requests merged in 2020-02, with the labels that each got.

#405 chore: Installing wheel package during build staging
  .github/workflows/release.yml
Labels: release:build

#406 chore: Running integration tests in release workflow
  .github/resources/integ-service-account.json.gpg
  .github/scripts/run_integration_tests.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  integration/test_db.py
Labels: release:build

#407 chore: Making the separation between staging and publishing explicit
  .github/scripts/publish_preflight_check.sh
  .github/workflows/release.yml
Labels: release:build

#409 Updated release trigger mechanisms
  .github/scripts/generate_changelog.sh
  .github/scripts/publish_preflight_check.sh
  .github/scripts/run_integration_tests.sh
  .github/workflows/release.yml
Labels: release:stage

#403 fix(fcm): Convert event_time to UTC
  firebase_admin/_messaging_encoder.py
  firebase_admin/_messaging_utils.py
  tests/test_messaging.py
Labels: release-note

#415 [chore] Release 4.0.0
  .github/workflows/release.yml
  firebase_admin/__about__.py
Labels: release:publish, release:tweet

#417 fix(fcm): Updated topic management error format
  firebase_admin/messaging.py
  tests/test_messaging.py
Labels: release-note
